.App .mdc-slider__track {
  background-color: green;
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-container {
    background-color: #cfcfcf;
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
    background-color: #d32f2f;
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb {
    fill: #d32f2f;
    stroke: #d32f2f;
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
    background-color: #d32f2f;
}