.App .ac-status {
  font-size: 1.75em;
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}

.App .ac-status-on, .App .ac-status-off {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App .settings {
  font-size: 1.25em;
  padding: 16px 0;
}

.App .material-icons {
  font-size: 70px;
  padding-left: 20px;
}
