.App .ac-status {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  margin: 0 auto;
}

.App .ac-status-on, .App .ac-status-off {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App .settings {
  align-items: center;
  display: flex;
  font-size: 0.75em;
  font-weight: 300;
}

.App .material-icons {
  font-size: 100px;
  padding: 0 16px;
}
